.gradient-border-parent {
	border-radius: var(--gradient-border-radius, 14px);
	padding: 1px;
	overflow: hidden;
}
.gradient-border {
	position: relative;
	border-radius: var(--gradient-border-radius, 14px);
	@apply border border-zinc-200 dark:border-zinc-800;
	@apply bg-white dark:bg-zinc-900;
}
.gradient-border::before {
	content: "";
	border-radius: var(--gradient-border-radius, 14px);
	display: block;
	opacity: 0;
	position: absolute;
	inset: var(--gradient-inset-size, -100px);
	z-index: -1;
}
html[data-mode="dark"] .gradient-border::before {
	background: linear-gradient(
		360deg,
		hsla(0, 0%, 100%, 0.5),
		hsla(0, 0%, 100%, 0.1),
		#fff,
		hsla(0, 0%, 100%, 0.3)
	);
}
html[data-mode="light"] .gradient-border::before {
	background: linear-gradient(360deg, #00db80, #fff, #35e3dbb3, #1de2b44d);
}
.gradient-border-parent:hover .gradient-border::before {
	animation: gradient-rotate 5s linear 0s infinite reverse;
	opacity: 1;
	transition: all 0.3s linear;
}
