@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}
@media (min-width: 64em) {
	.main-navigation-drawer {
		visibility: visible;
		transform: translateX(0);
	}
}
